<div class="container flex">
    <div class="card s">
        <h1>Nike...</h1>
        <hr>
        <p>Lorem ipsum...</p>
        <div class="buttons-row">
            <button (click)="addProducto('Nike')">Añadir</button>
        </div>
    </div>
    <div class="card s">
        <h1>Adidas...</h1>
        <hr>
        <p>Lorem ipsum...</p>
        <div class="buttons-row">
            <button (click)="addProducto('Adidas')">Añadir</button>
        </div>
    </div>
    <div class="card s">
        <h1>Puma...</h1>
        <hr>
        <p>Lorem ipsum...</p>
        <div class="buttons-row">
            <button (click)="addProducto('Puma')">Añadir</button>
        </div>
    </div>
</div>